# Godot cache
.godot/
/android/

# Imported files
.import/

# Mono (not needed unless using C#)
.mono/

# OS files
Thumbs.db
.DS_Store
*.tmp

# Ignore everything inside Builds
Builds/*

# But keep the .gitkeep file so the folder exists on Github
!Builds/.gitkeep


